.ullayout {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #9C14F4;
    height: 120px;
    
}

.algemeenlijst {
    
}

.layoutli {
    float: left;
    font-size: 25px;
    text-align: center;
}

.logo {
    width: 150px;
    height:120px;
    padding-top: 0px;
    padding-bottom: 0px;
}

li a {
   display: block;
   color: white;
   text-align: center;
   padding: 0px;
   text-decoration: none;
}

li a.active {
    background-color: #111;
    color: white;
 }

li a:hover:not(.active) {
   background-color: #111;

 }

.algemeenli {

}

body {
    background-color: #d7ecfe;
}
.content {
    height:670px;
}

.homepage1 {
    position: absolute;
    width: 500px;
    right: 150px;
    top: 50px;
}

.homepage2 {
    position: absolute;
    width: 450px;
    left: 200px;
    top: 250px;
}

.homepage3 {
    position: absolute;
    width: 450px;
    bottom: 200px;
    left: 170px;
}

h1 {

}

.contactform label {
    width: 200px;
    display: inline-block;
    padding-top: 15px;
}

.contactform {
    margin-left: 25px;
}

.contactform .knop {
    margin-top: 15px;
}

.contactform .field-validation-error {
    color: red;
    margin-left: 30px;
}

.algemeneinfo {
    list-style-type: none;
    background-color: #9C14F4;
}

.beachfestival {
    width: 100px;
    height: 150px;
    float: left;
}

footer {
    position: fixed;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-color: #9C14F4;
}