<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Festivlakte</title>
    <link rel="stylesheet" href="~/css/site.css" />
    
</head>
<body>
    <ul class="ullayout">
        <li class = "layoutli"><img class = "logo" src = "/img/Logo.png" /></li>
        <li class="layoutli"><a class="active" href="/">Home</a></li>
        <li class="layoutli"> <a href="/festivals"> Festivals </a></li>
        <li class="layoutli"> <a href="/transport"> Transport </a></li>
        <li class="layoutli"> <a href="/contact"> Contact </a></li>
    </ul>

    @RenderBody()

    <footer>
        <ul class="algemeneinfo">
            <li><a href="/algemeen"> Algemene informatie </a></li>
        </ul>
    </footer>
</body>


</html>
