<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Festivlakte</title>
    <link rel="stylesheet" href="~/css/site.css" />
    
</head>
<body>
    <ul>
        <li><img class = "logo" src = "/img/Logo.png" style = "width:100px;height:80px; "/></li>
        <li><a class="active" href="/">Home</a></li>
        <li> <a href="/festivals"> Festivals </a></li>
        <li> <a href="/transport"> Transport </a></li>
        <li> <a href="/contact"> Contact </a></li>
    </ul>

    @RenderBody()

    <footer>
        <ul>
            <li><a href="/algemeen"> Algemene informatie </a></li>
        </ul>
    </footer>
</body>


</html>
