<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Festivlakte</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @RenderBody()
    <ul>
        <li><a class="active" href="#home">Home</a></li>
        <li> <a href="festivals.html"> Festivals </a></li>
        <li> <a href="transport.html"> Transport </a></li>
        <li> <a href="contact.html"> Contact </a></li>
    </ul>
</body>

<footer>
    <ul>
        <li><a class="algemeneinformatie.html"> Alegemene informatie </a></li>
    </ul>
</footer>

</html>
