@{
    ViewData["Title"] = "Algemene-informatie";
}

<div class="algemeenc">
    <div class"="algemeentitel"> 
      <h1> Algemene informatie: </h1>
    </div>
    <div>
       <ul class="algemeenlijst">
        <li class="algemeenli"> Grootte van het terrein: 20 ha </li>
         <li class="algemeenli"> Maximaal aantal bezoekers: 50.000 </li>
         <li class="algemeenli"> Aantal beschikbare parkeerplaatsen in de buurt: 1000 </li>
         <li class="algemeenli"> Verplicht om mee te nemen:
             <ul>
                 <li>Geldig identificatiebewijs (paspoort of ID) </li>
                 <li>Festival ticket</li>
             </ul> 
         </li>
      </ul>
    <p> Nog overige vragen? Zoek contact met ons op via de contactpagina bovenin het menu. </p>
    </div>  
</div>
