@{
    ViewData["Title"] = "Home Page";
}

<form>
    Voornaam: <input type = "text" name ="voornaam"/> <br />
    Achternaam: <input type = "text" name ="achternaam"/> <br/>
    E-mail : <input type = "text" name ="e-mail"/> <br/>
    Telefoonnummer: <input type = "text" name ="telefoonnummer"/> <br/>
    Opmerkingen en/of vragen: <input type = "text" name ="vragen"/> <br/>
    <input type = "submit" value = "Opslaan" />
</form>
