@using Festivlakte.Controllers.Databases
@using Festivlakte.Database
@model Festivals
@{
    ViewData["Title"] = "Detail";
}

@if(Model is null)
{
 <h1>Nou moe, geen festival gevonden</h1>   
}
else{

<img class="beachfestival" src="@Model.Afbeelding" />

<h1>@Model.Naam</h1>
}

