@{
    ViewData["Title"] = "Detail";
}

<img class="beachfestival" src="/img/beachfestival.png" />

<div>
    <h2> Beach festival 2022!</h2>
    <p1> Het beach festival 2022 is het grootste zomer festival van heel Nederland. <br>
        Er komen meer dan 20 artiesten waaronder de welbekende Ronnie Flex, Lil Kleine, Bilal Wahib en nog veel meer! <br>
        Het is het perfecte festival om samen met vrienden te genieten van het lekkere weer en de leuke muziek.<br> </p1>
    <p2> 26-28 juli 2022 <br>
       17:00-4:00 </p2>
</div>