@using Festivlakte.Controllers.Databases
@model List<Festivals>
@{
    ViewData["Title"] = "Festivals";
}

<div> 
    <ul>
        @foreach (var festival in Model)
       {
        <li><a class="festivals" href="/festival/@festival.Id">@festival.Afbeelding @festival.Naam <br> @festival.Beschrijving</a></li>   
       }
        
    </ul>
</div>