@using Festivlakte.Controllers.Databases
@using Festivlakte.Database
@model List<Festivals>
@{
    ViewData["Title"] = "Festivals";
}

<div class="divfestivals"> 
    <ul>
        @foreach (var festival in Model)
       {        
            <li class="festivals">
                <img class="afbeeldingf" src="@festival.Afbeelding" />
                <a href="/festival/ @festival.Id"> @festival.Naam <br> @festival.Beschrijving</a>
            </li>
       }        
    </ul>
</div>