@using Festivlakte.Controllers.Databases
@model List<Festivals>
@{
    ViewData["Title"] = "Festivals";
}

<div> 
    <ul>
        @foreach (var festival in Model)
       {
        <li><a href="/festival/@festival.Id">@festival.Naam</a></li>   
       }
        
    </ul>
</div>