@{
    ViewData["Title"] = "Home Page";
}

<img class="homepage1" src="/img/Homepage1.png" />
<img class="homepage2" src="/img/Homepage2.png" />
<img class="homepage3" src="/img/Homepage3.png" />
<h1 style="color: #006FFF"> De Festivlakte </h1>
<p1 style="color: #006FFF"> Hier is het altijd een feestje!</p1>
