@using Festivlakte.Controllers.Databases
@model List<Festivals>
@{
    ViewData["Title"] = "Home Page";
}
<div class="content">
    <img class="homepage1" src="/img/Homepage1.png" />
    <img class="homepage2" src="/img/Homepage2.png" />
    <img class="homepage3" src="/img/Homepage3.png" />
    <h1 class="titel"> De Festivlakte </h1>
    <p1> Hier is het altijd een feestje!</p1>
</div>