@{
    ViewData["Title"] = "Transport";
}

<div class="transportc1">
    <div class="transportc2">
        
        <img class="transportp" src="/img/transport.png" />
    
    </div>

    <div class="transportc3">
        <p2>
            Locatie: <br />
            De Festivlakte, Maasvlakte <br />
            Rotterdam, Nederland <br /><br />
            (51°57'57.8"N 3°58'21.3"E) <br /><br />
            U kunt uw auto parkeren op het grasveld bij: <br />
            Amoerweg 48, Maasvlakte 2, 3199 KD Rotterdam <br /><br />
            Volg vanaf de parkeerplek de bordjes naar het terrein.
        </p2>
    </div>
</div>