@{
    ViewData["Title"] = "Transport";
}
<h2>@ViewData["Title"]</h2>

<div>
    <div
    <img class="transportp" src="/img/transport.png" />></div>

    <div>
        <p>
            De Festivlakte, Maasvlakte <br />
            Rotterdam, Nederland <br /><br />
            (51°57'57.8"N 3°58'21.3"E) <br /><br />
            U kunt uw auto parkeren op het grasveld bij: <br />
            Amoerweg 48, Maasvlakte 2, 3199 KD Rotterdam <br /><br />
            Volg vanaf de parkeerplek de bordjes naar het terrein.
        </p>
    </div>
</div>